.main_container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: #DDEAF8;
}
/*დაიწყო HEADER */
header{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 53px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allport{
    display: flex;
    color: #27187F;
    font-size: 50px;
}
ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
li{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #758BFD;
}
.search{
border: 3px solid #27187F;
border-radius: 10px;
width: 221px;
height: 55px;
display: flex;
align-items: center;
justify-content: flex-end;
}
.fa-magnifying-glass{
    font-size: 39px;
    color: #758BFD;
}
/*დამთავრდა HEADER */

/*დაიწყო SECTION*/
section{
width: 90%;

margin: 95px auto 135px auto;



}
.companynews{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 37px;
color: #27187F;
margin-bottom: 68px;
}
.div_imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 51px;
    width: 100%
    
    
}
.div_img{
width: 30%;
height: 333px;
background: #FFFFFF;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;


}
.div_img1{
    width: 90%;
    height: 188px;
}
.img_text{
width: 90%;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #133B3A;
}
/*დამთავრდა SECTION*/

/*დაიწყო FOOTER*/
footer{
    width: 100%;
    background: #758BFD;
    padding-top: 75px;
    
}
.footer_section_1{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-bottom: 98px;
    
}
.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Information{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.satauri{
   margin-bottom: 17px;
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 17px;
color: #00CAD7;


}
.satauri2{
margin-bottom: 17px;
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
color: #FFFFFF;
}
.pebi{
display: flex;
flex-direction: column;
gap: 12px;
font-family: 'Century Gothic';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
align-items: center;
color: #FFFFFF;
}
.div_icon{
    display: flex;
    gap: 24px;
    font-size: 22px;
    color:white
}
.div_cards{
    width: 90%;
    display: flex;
    gap: 11px;
    margin: 0 auto;
    justify-content: right;
    padding-bottom: 75px;
    
    
    
}
.img1{
    width: 97px;
    height: 55px;
    background: #FFFFFF;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.img2{
    width: 97px;
    height: 55px;
    background: #FFFFFF;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.img3{
    width: 97px;
    height: 55px;
    background: #FFFFFF;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.img4{
    width: 97px;
    height: 55px;
    background: #FFFFFF;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/*დამთავრდა FOOTER*/